@import "normalize";
//fonts
$heading-font: 'Archivo Black',
sans-serif;
$body-font: 'Tenor Sans',
sans-serif;
// colors
$green: #06673D; //6, 103, 61
$orange: #BA3D0B; //186, 61, 11
// defaults
$default-padding: 1rem;
.flex {
    display: flex;
}

@mixin background-props {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin no-space {
    margin: 0;
    padding: 0;
}

$gradient: linear-gradient(rgba(6, 103, 61, 0.40), rgba(6, 103, 61, 0.40));
//$gradient-light: linear-gradient(rgba($primary-tint, 0.50), rgba($primary-tint, 0.50));
//background: $gradient-light, url("../images/hero_large.jpg");
//            @include background-props;
body {
    font-family: $body-font;
    font-size: 1rem;
}

a:link,
a:visited {
    color: $green;
}

a:focus,
a:hover {
    color: $orange;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font;
    @include no-space;
}

p {
    @include no-space;
}

ul.unstyled-list {
    list-style: none;
    @include no-space;
}

a:link,
a:visited {
    text-decoration: none;
}

a:focus,
a:hover {
    border-bottom: 1.5px solid $orange;
    color: $orange;
}

a.cta-btn {
    background-color: $green;
    color: #fff;
    border-radius: 5px;
    padding: ($default-padding/2) $default-padding;
}

a[href="index.html"] {
    border-bottom: none;
}

.wrapper {
    max-width: 1700px;
}

.panel {
    min-height: 80vh;
    padding: $default-padding;
}

header.flex {
    padding: $default-padding;
    & > * {
        flex: 1 1 50%;
    }
    img.logo {
        width: 400px;
    }
    nav {
        align-items: center;
        ul {
            li {
                display: inline-block;
                padding-right: ($default-padding/2);
                a {
                    font-size: 1.25rem;
                    color: #000;
                    &:hover,
                    &:focus {
                        color: $orange;
                    }
                }
                a.cta-btn {
                    border-bottom: 1.5px solid transparent;
                    color: #fff;
                    &:hover,
                    &:focus {
                        background-color: $orange;
                    }
                }
            }
        }
    }
}

main {
    section#panel1.flex {
        background: $gradient, url("../images/panel-1.jpeg");
        @include background-props;
        color: #fff;
        justify-content: center;
        align-items: center;
        div {
            text-align: center;
            width: 1000px;
            h1 {
                font-size: 5.5rem;
            }
            p {
                font-size: 3rem;
                margin-top: $default-padding;
            }
        }
    }
    section#searchconnectgrow {
        background-color: $green;
        padding: ($default-padding*3);
        h2 {
          font-size: 3rem;
          color: #fff;
        }
        & > div#icon-boxes {
            div.icon-div.flex {
                margin-top: $default-padding;
                flex: 1 1 20%;
                margin-right: ($default-padding*2);
                background-color: #fff;
                flex-direction: column;
                align-items: center;
                padding: $default-padding;
                img {
                    width: 100%;
                    max-width: 200px;
                }
                h3 {
                  font-size: 2rem;
                }
                p {
                  margin-top: $default-padding;
                  font-size: 1.5rem;
                }
            }
            & > div.icon-div:last-of-type {
                margin-right: 0;
            }
        }
    }
}
